* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colours */
  --primaryColor: #5C6E56;
  --secondaryColor: #94A38E;
  --lightColor: #9CB395;
  --primaryDarkColor: #3E4239;
  --brownColor: #6C5D53;
  --lightbrownColor: #DFD3C3;
  --buttonRedColor: #D47878;
  --dangerColor: #cb5050;
  --lightBackgroundColor: #C7B199;
  --brownBackgroundColor: #9F8473;
  --grayColor: #D9D9D9;
  --ligintBackground: #D9D9D9;

  /* Fonts */
  font-family: 'Open Sans', sans-serif;
}