* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #5C6E56;
  --secondaryColor: #94A38E;
  --lightColor: #9CB395;
  --primaryDarkColor: #3E4239;
  --brownColor: #6C5D53;
  --lightbrownColor: #E2DED5;
  --buttonRedColor: #D47878;
  --lightBackgroundColor: rgba(233,211,195,0.3);
  --brownBackgroundColor: rgba(233,211,195,0.37);
  --grayColor: #D9D9D9;
}