.screen {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2) 100%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    url('../images/login_register.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  overflow: scroll;
}

.logo {
  width: 300px;
  height: 110px;
}

.authTitle {
  color: var(--primaryColor);
  font-style: normal;
  font-size: 35px;
  font-weight: 700;
  line-height: 61px;
  margin: 25px;
  letter-spacing: 15px;
}

.authForm {
  margin: auto;
}

.authButton {
  background: var(--primaryColor);
  color: #fff;
  padding: 7px 150px;
  margin: 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authButton:hover {
  background: var(--secondaryColor);
}

.email,
.password {
  color: var(--primaryColor);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 20px 5px;
  letter-spacing: 5px;
  text-align: start;
}

.authInputs {
  background: #f3f3f3;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  display: block;
  margin: start;
  font-size: 20px;
  padding: 13px;
  border: none;
  color: var(--primaryDarkColor);
}

.authInputs:focus {
  outline: none;
}

.accountMsg {
  display: block;
  color: var(--brownColor);
  cursor: pointer;
  text-decoration: none;
}

.pwdForgotMsg {
  padding: 15px 0;
}
