.screen {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2) 100%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    url('../images/login_register.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.logo {
  width: 300px;
  height: 110px;
}

.authTitle {
  color: var(--primaryColor);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 61px;
  margin: 10px 25px;
  letter-spacing: 9px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  padding: 20px;
  margin: 20px;
}

.authButton {
  background: var(--primaryColor);
  color: #fff;
  padding: 3px 150px;
  margin: 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  line-height: 36px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authButton:hover {
  background: var(--secondaryColor);
}

.email,
.password {
  align-self: flex-start;
  color: var(--primaryColor);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  margin: 20px 10px 10px 5px;
  letter-spacing: 5px;
  /* use this only when using <form></form> and delete align-self: flex start and add display: block */
  /* text-align: start; */ 
}

.authInputs {
  background: #f3f3f3;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  text-indent: 7px;
  border: none;
  color: var(--primaryDarkColor);
}

.authInputs:focus {
  outline: none;
}

.accountMsg {
  display: block;
  color: var(--brownColor);
  cursor: pointer;
  text-decoration: none;
}

.pwdForgotMsg {
  padding: 15px 0;
}

.recoveryBtn {
  background: var(--primaryColor);
  color: #fff;
  padding: 3px 60px;
  margin: 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  align-self: flex-end;
  line-height: 36px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recoveryBtn:hover {
  background: var(--secondaryColor);
}

.recoveryBottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.recoveryMsg {
  padding: 3px;
  margin-top: 40px;
  letter-spacing: 0.9px;
  font-weight: 500;
}
