* {
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}

.pencil {
  max-width: 50px;
  justify-content: center;
  align-items: center;
}

.pencil:hover, .user:hover, .search_image:hover  {
  cursor: pointer;
}

.user {
  max-height: 65px;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

input.bar {
  width: 40vw;
  display:inline-block;
  padding:15px 10px;
  line-height:150%;
}

.primarybth {
  width: 100px;
  padding: 15px;
  font-size: medium;
  background-color: white;
  border: none;
  cursor: pointer;
}

.interface {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}