* {
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  position: relative;
}
.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

input.bar {
  width: 40vw;
  display:inline-block;
  padding:15px 10px;
  line-height:150%;
}

.primarybth {
  width: 100px;
  padding: 15px;
  font-size: medium;
}