
* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  /* margin: 0 70px; */
  padding-top: 20px
}

.logo {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 0 30px;
}

.logo:hover {
  cursor: pointer;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.searchBth:hover {
  cursor: pointer;
  opacity: 0.7;
}

input.bar {
  width: 40vw;
  display:inline-block;
  padding:15px 15px;
  line-height:150%;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background-color: rgba(223, 211, 195, 0.1);
}

input.bar:focus {
background-color: #fff;
}

/* main color #759688 */
.categoryButton {
  background-color: #ffff;
  border: none;
  border-radius: 30px;
  width: 100px;
  padding: 15px;
  font-size: 1.5rem;
  color: #6C5D53;
  margin-right: 30px;
}

.categoryButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.interface {
  margin: 0 50px;
}