* {
  font-family: 'Open-Sans', sans-serif;
}

h1 {
  margin: 0 20px;
  margin-top: 50px;
  font-family: 'Open-Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #6C5D53;
}

.slideShow {
  align-items: center;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
}


.slideContainer {
  background: rgba(217, 217, 217, 0.2);
  margin: 20px 20px;
  padding: 0px 80px;
  position: relative;
}

h3 {
  margin: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}


/* they are inside of the Carousel library */
.image_item {
  margin: 20px 0 20px 20px;
  position: unset;
  height: fit-content;
  border: 1px solid #6C5D53;
  box-shadow: 5px 5px 5px grey;
}
.reactMultiCarouselList{
  position: unset !important;
}.react-multiple-carousel__arrow--right {
  right: calc(4% - 30px) !important;
}
.react-multi-carousel-list > button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: calc(4% - 30px) !important;
}
