.searchPage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Search-contentContainer {
  padding: 20px !important;
}

.search-card {
  margin: 2rem;
  padding: 1rem;
  padding-left: 1rem;
  background-color: rgba(217, 217, 217, 0.2);
  border-bottom: 1px solid #898787;
  border-radius: 10px;
  overflow: hidden;
}

.search-card:hover {
  cursor: pointer;
}

.search-title {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.searchPage-button {
width: 176px;
height: 57px;
border: none;
background: var(--lightGreenColor);
border-radius: 5px;
margin: 15px;
}

.button-container {
  padding: 20px;
}

.searchPage-button:hover {
  cursor: pointer;
}

.MuiImageList-root {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.infinite-scroll-component {
  padding-left: 100px;
  overflow: hidden !important;
}
.search-tag {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 220px;
}

.MuiImageListItem-standard {
  height: 300px !important;
  padding-bottom: 0 !important;
  width: 300px !important;
}
.search-loading {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.Search-heartIcon {
  color: var(--lightColor);
  margin-right: 5px;
}

.Search-userText {
  font-size: 14px;
  align-items: center;
  display: flex;
  color: var(--brownColor);
}

.Search-cardImage {
  width: 265px !important;
  height: 150px !important;
  border-radius: 5px !important;
}