.searchPage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Search-contentContainer {
  padding: 20px !important;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-card {
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(217, 217, 217, 0.2);
  border-bottom: 1px solid #898787;
  border-radius: 10px;
  overflow: hidden;
}

.search-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-title {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 2px 0;
}

.searchPage-button {
  width: 176px;
  height: 57px;
  border: none;
  background: var(--lightGreenColor);
  border-radius: 5px;
  margin: 15px;
  letter-spacing: 3px;
}

.searchPage-button-clicked {
  background: var(--lightColor);
}

.button-container {
  padding: 20px;
}

.searchPage-button:hover {
  cursor: pointer;
}

.MuiImageList-root {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.infinite-scroll-component {
  padding-left: 100px;
  overflow: hidden !important;
}
.search-tag {
  margin: 40px 0px;
}

.MuiImageListItem-standard {
  height: 300px !important;
  padding-bottom: 0 !important;
  width: 300px !important;
}
.search-loading {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.search-heartIcon {
  color: var(--lightColor);
  margin-right: 5px;
}

.search-timeIcon {
  color: var(--darkGrayColor);
  margin-right: 5px;
}

.search-userText {
  font-size: 15px;
  align-items: center;
  display: flex;
  color: var(--brownColor);
  margin-right: 15px;
}

.Search-cardImage {
  width: 265px !important;
  height: 150px !important;
  border-radius: 5px !important;
}

.search-infoBox {
  display: flex;
  justify-content: flex-start;
  margin: 2px 0;
}

.search-userInfoBox {
  display: flex;
  justify-content: space-between;
  color: var(--brownColor);
}

.search-recipeName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
