.searchPage-container {
  max-width: 80%;
  margin: auto;
}

.search-container {
  /* border: 1px solid black; */
  max-width: 100%;
  margin: auto;
  /* display: flex; */
  justify-content: center;
  /* overflow: auto; */
}

.search-card {
  /* box-shadow: 2px 2px 2px grey; */
  margin: 2rem;
  padding: 2rem;
  /* background-color: var(--lightBackgroundColor); */
  background-color: rgba(217, 217, 217, 0.2);
  border-bottom: 1px solid #898787;
  border-radius: 10px;
  overflow: hidden;
}

.search-card:hover {
  cursor: pointer;
}

.search-title {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.searchPage-button {
  /* position: absolute; */
width: 176px;
height: 57px;
border: none;
background: var(--lightGreenColor);
border-radius: 5px;
margin: 15px;
}

.button-container {
  padding: 0 100px;
}

.searchPage-button:hover {
  cursor: pointer;
}

.MuiImageList-root {
  /* display: -ms-flexbox; */
  display: flex !important;
  /* -ms-flex-wrap: wrap; */
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.infinite-scroll-component {
  padding-left: 100px;
  overflow: hidden !important;
}
.search-tag {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 220px;
}

.MuiImageListItem-standard {
  height: 250px !important;
  padding-bottom: 0 !important;
  width: 250px !important;
}
.search-loading {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}