.UserProfile-container {
  background-color: rgb(223, 211, 195, 0.3);
  margin: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.UserProfile-innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.UserProfile-topContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.UserProfileEditSaveBtnContainer {
  margin: 20px 40px auto auto;
}

.UserProfile-editProfileBtn {
  padding: 10px 30px;
  margin-bottom: 10px;
  background-color: var(--lightColor);
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--primaryColor);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.UserProfile-editProfileBtn:hover {
  background-color: var(--secondaryColor);
}

.UserProfile-saveProfileBtn {
  padding: 10px 30px;
  background-color: var(--lightBackgroundColor);
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--brownBackgroundColor);
  border-radius: 3px;
  cursor: pointer;
}

.UserProfile-saveProfileBtn:hover {
  background-color: #ba9c89;
}

/* Introduction Container */
.UserProfile-middleContainer,
.UserProfile-bottomContainer {
  margin-left: 40px;
  margin-right: 40px;
  flex-wrap: wrap;
}

.UserProfile-bottomContainer {
  margin-top: 20px;
  flex-wrap: wrap;
}

.UserProfile-cardContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(223, 211, 195, 0.37);
  border-bottom: 1px solid var(--brownColor);
  border-radius: 10px;
  width: 340px;
  height: 300px;
  margin: 30px 15px 30px 0;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.UserProfile-cardContainer:hover {
  opacity: 0.7;
  transform: scale(1.03);
  cursor: pointer;
}

.UserProfile-myItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.UserProfile-userIcon {
  margin-top: -55px;
  margin-left: 70px;
}

.UserProfile-userName {
  font-size: 30px;
  font-weight: 500;
  margin-left: 23px;
  margin-top: 15px;
  border: none;
  padding: 0;
  height: 50px;
  outline: none;
}

.UserProfile-userName:disabled {
  color: black;
}

.UserProfile-editIcon {
  color: #fff;
}

.UserProfile-editBtn {
  background-color: var(--lightColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin: 40px 0 30px -35px;
  z-index: 1;
  cursor: pointer;
}

.UserProfile-editBtn.UserProfile-disableEditBtns {
  visibility: hidden;
}

.UserProfile-uploadBtn {
  display: none;
}

.UserProfile-editBtn:hover,
.UserProfile-nameEditBtn:hover,
.UserProfile-introEditButton:hover {
  background-color: var(--secondaryColor);
}

.UserProfile-nameEditBtn {
  background-color: var(--lightColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin: 18px 0 30px 10px;
  z-index: 1;
  cursor: pointer;
}

.UserProfile-nameEditBtn.UserProfile-disableEditBtns {
  visibility: hidden;
}

.UserProfile-introEditButton {
  background-color: var(--lightColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 0 13px 10px;
  z-index: 1;
  cursor: pointer;
}

.UserProfile-introEditButton.UserProfile-disableEditBtns {
  visibility: hidden;
}

.UserProfile-introTitle,
.UserProfile-cookingListTitle {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.UserProfile-introTextArea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  resize: none;
  padding: 20px;
  color: var(--brownColor);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1rem;
}

.UserProfile-introTextArea:disabled {
  background-color: #fff;
  color: var(--brownColor);
  border: none;
}

.UserProfile-food {
  width: 100%;
  height: 180px;
  border-radius: 5px;
}

.UserProfile-cardTextContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.UserProfile-foodTitle {
  letter-spacing: 1px;
  color: var(--brownColor);
}

.UserProfile-likesText {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.UserProfile-likes {
  margin-top: -3px;
  margin-left: 3px;
  font-size: 15px;
  color: var(--brownColor);
}

.UserProfile-heartIcon {
  color: var(--lightColor);
}

.UserProfile-likesDate {
  font-size: 15px;
  color: var(--brownColor);
}

.UserProfile-profileUpdateMsg {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -68px;
}

/* No Recipe Msg */
.UserProfile-noRecipeMsg {
  padding: 40px 0;
  color: var(--brownColor);
}

/* Logout Button */
.UserProfile-logoutBtn {
  padding: 10px 30px;
  background-color: var(--buttonRedColor);
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--dangerColor);
  border-radius: 3px;
  cursor: pointer;
  margin: 20px 10px;
  margin-left: 0px;
}

.UserProfile-logoutBtn:hover {
  background-color: #d26969;
}