@keyframes ldio-fovoobyu1eb-1 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(-45deg) }
100% { transform: rotate(0deg) }
}
@keyframes ldio-fovoobyu1eb-2 {
  0% { transform: rotate(180deg) }
 50% { transform: rotate(225deg) }
100% { transform: rotate(180deg) }
}
.innerSpinner > div:nth-child(2) {
transform: translate(-15px,0);
}
.innerSpinner > div:nth-child(2) div {
position: absolute;
top: 20px;
left: 20px;
width: 60px;
height: 30px;
border-radius: 60px 60px 0 0;
background: var(--lightBackgroundColor);
animation: ldio-fovoobyu1eb-1 1s linear infinite;
transform-origin: 30px 30px
}
.innerSpinner > div:nth-child(2) div:nth-child(2) {
animation: ldio-fovoobyu1eb-2 1s linear infinite
}
.innerSpinner > div:nth-child(2) div:nth-child(3) {
transform: rotate(-90deg);
animation: none;
}@keyframes ldio-fovoobyu1eb-3 {
  0% { transform: translate(95px,0); opacity: 0 }
 20% { opacity: 1 }
100% { transform: translate(35px,0); opacity: 1 }
}
.innerSpinner > div:nth-child(1) {
display: block;
}
.innerSpinner > div:nth-child(1) div {
position: absolute;
top: 46px;
left: -4px;
width: 8px;
height: 8px;
border-radius: 50%;
background: var(--primaryColor);
animation: ldio-fovoobyu1eb-3 1s linear infinite
}
.innerSpinner > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.innerSpinner > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.innerSpinner > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.spinnerBeanEater {
width: 98px;
height: 98px;
display: inline-block;
overflow: hidden;
}
.innerSpinner {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0;
}
.innerSpinner div { box-sizing: content-box; }