* {
  font-family: 'Open-Sans', sans-serif;
}

.MainList-h1 {
  margin: 0 20px;
  margin-top: 50px;
  margin-left: 80px;
  font-family: 'Open-Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: var(--brownColor);
}

.MainList-slideShow {
  align-items: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}

.MainList-slideContainer {
  background: rgba(217, 217, 217, 0.2);
  margin: 20px 80px;
  /* padding: 0px 50px; */
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
}

.MainList-h3 {
  margin: 10px;
}

.MainList-cardInfo {
  display: flex;
  flex-direction: column;
}

.MainList-cardInfoBox {
  display: flex;
  justify-content: flex-start;
  margin: 3px 10px;
}

.MainList-cardBox {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px;
}

.MainList-item {
  width: 350px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: rgba(237, 230, 221, 0.37);
  border-radius: 5px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.MainList-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.MainList-heartIcon {
  color: var(--lightColor);
  margin-right: 5px;
}

/* they are inside of the Carousel library */
.MainList-image_item {
  margin: 50px 55px 20px;
  position: unset;
  height: fit-content;
  max-width: 350px;
}
.MainList-reactMultiCarouselList {
  position: unset !important;
  height: 380px;
  max-height: 380px;
}

.MainList-custom-right-arrow {
  position: absolute !important;
  right: -40px;
  z-index: 1;
  border: 1px solid var(--brownColor);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(-45deg);
}
.MainList-custom-right-arrow:hover {
  opacity: 2;
}
.MainList-custom-left-arrow {
  position: absolute !important;
  left: -40px;
  z-index: 1;
  border: 1px solid var(--brownColor);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(135deg);
}
.MainList-custom-left-arrow {
  opacity: 1;
}

.fa-circle-plus:hover {
  cursor: pointer;
}

.MainList-seeMorePlusSign {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 350px;
}

.MainList-plusSign {
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}

.MainList-plusSign:hover {
  opacity: 0.7;
  transform: scale(1.1);
  cursor: pointer;
}

.MainList-userText {
  font-size: 16px;
  align-items: center;
  display: flex;
  color: var(--brownColor);
  margin-right: 10px;
}

.MainList-cardImage {
  width: 350px;
  height: 235px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.MainList-timeIcon {
  color: var(--darkGrayColor);
}
